<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921921093359-3hftl2ug184opmotvq10gte5s2qtmkct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921921093359-3hftl2ug184opmotvq10gte5s2qtmkct</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>921921093359-32mq2bkdnqsdiuh79b365ocji8sakh3a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMeT-IUVvxgfCJVEMe0NJi3kx_vgD8TxY</string>
	<key>GCM_SENDER_ID</key>
	<string>921921093359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ometria.Sample</string>
	<key>PROJECT_ID</key>
	<string>ometriasdk-internal</string>
	<key>STORAGE_BUCKET</key>
	<string>ometriasdk-internal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921921093359:ios:cd0223c7cc01040cdfa51a</string>
	<key>DATABASE_URL</key>
	<string>https://ometriasdk-internal.firebaseio.com</string>
</dict>
</plist>