Ometria.xcodeproj/project.xcworkspace
Ometria Sample/OmetriaSample.xcworkspace
Ometria Sample/Pods
Ometria.xcodeproj/xcuserdata
Pods
Ometria.xcworkspace
.build
DerivedData
/.previous-build
xcuserdata
.DS_Store
*~
\#*
.\#*
.*.sw[nop]
*.xcscmblueprint
/default.profraw
Utilities/Docker/*.tar.gz
.swiftpm
Package.resolved
/build
*.pyc