SDK/Ometria.xcodeproj/project.xcworkspace
Ometria Sample Project/OmetriaSample/OmetriaSample.xcworkspace
Ometria Sample Project/OmetriaSample/Pods
SDK/Ometria.xcodeproj/xcuserdata
SDK/Pods
SDK/Ometria.xcworkspace
